.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
  }

.contacts__mail,
.contacts__tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
}
&:hover,
&:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
}
}

.contacts__mail {
  margin-right: 30px;
}

.contacts__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  