.empoyee-social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
  }
  
  .social-link-item {
   width: 44px;
   height: 44px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
     background-color: var(--accent-color);
   }
  }
  
  .social-link-icon {
    fill: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .social-link-item:hover &,
  .social-link-item:focus & {
    fill: var(--text-color-primary);
    cursor: pointer;
  }
  }

  .social-links-wrap {
    margin-right: 93px;
    }
    