.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  padding-left: 15px;
  padding-right: 15px;
  
  @media screen and (min-width:1200px) {
    width: 1200px;
    margin: 0 auto;
  display: flex;
  align-items: baseline;
  }
}

.tablet-wrap {
  display: flex;
  align-items: center;

  @media screen and (max-width:767px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width:768px) and (max-width:1199px) {
  justify-content: space-between;
  align-items: baseline;
  margin-left: 76px;
  margin-right: 89px;
  }

  @media screen and (min-width:1200px) {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
}

.address-wrap {
  @media screen and (max-width:1199px) {
    margin-bottom: 60px;
    text-align: center; 
  }
}

.firm-address {
  font-style: normal;
  line-height: 1.71;
  color: var(--text-color-primary);
  display: block;
}

.menu-link-footer {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-color);
  display: block;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus {
  color: var(--accent-color);
}
}

.footer-list-item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

.social-links-wrap {
  @media screen and (max-width:1199px) {
    margin-bottom: 60px;
  }
}

.footer-social-item {
  gap: 10px;
}

.footer-title {
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
color: var(--text-color-primary);

@media screen and (max-width:1199px) {
  text-align: center;
  margin-bottom: 20px;
}
}

.footer-social-link {
 width: 44px;
 height: 44px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgba(255, 255, 255, 0.1);
 box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 &:hover,
&:focus {
  background-color: var(--btn-background-color);
}
}

.footer-social-link-icon {
  fill: #ffffff;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;

  @media screen and (min-width:1200px) {
  margin-top: 20px;
  }
}

.mail-address {
width: 100%;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background-color: var(--background-color);
padding-left: 16px;
&::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width:480px) and (max-width:1199px) {
    width: 450px;
  }

  @media screen and (min-width:1200px) {
    width: 358px;
  }
}

.footer-btn {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--text-color-primary);
width: 200px;
height: 50px;
margin: 20px auto;
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
border-color: transparent;
}

.footer-mail-icon {
margin-left: 10px;
}

.footer-mailing-list {
  @media screen and (min-width:768px) and (max-width:1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@media screen and (min-width:1200px) {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 93px;
}
}

.footer-form {
  @media screen and (min-width:1200px) {
  display: flex;
  gap: 12px;
  align-items: baseline;
}
}