.logo-current {
    color: var(--accent-color);
  }
  
  .menu__link-current {
    color: var(--accent-color);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      display: flex;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      }
  }

  .header {
    border-bottom: 1px solid #ececec;
  }

  .mob-header {
    display: flex;
    align-items: center;

    @media screen and (min-width:481px) {
    display: none;
    }
  }

  .menu-open-btn {
    margin-left: auto;
    background-color:transparent;
    border-color: transparent;
  }

  .menu-close-btn {
    display: block;
    margin-left: auto;
    background-color:transparent;
    border-color: transparent;
    &:hover,
&:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
}
  }

  .mob-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  }

  .mob-menu-list {
  margin-bottom: 50px;
  }

  .mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
  }

  .mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    
  }

  .mob-menu__link-current {
    color: var(--accent-color);
  }

  .mob-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
  }

  .mob-contacts__tel {
    font-weight: 500;
    font-size: 8vw;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-bottom: 32px;
  }

  .mob-contacts__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em; 
    color: #757575;
  }

  .mob-social-link-item {
    font-weight: 500;
    font-size: 4vw;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  .mob-social-link-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  .mob-social-links {
  display: flex;
  gap: 10px;
  }

  .header__wrap {
@media screen and (min-width:768px) {
  display: flex;
}
  }