
.portfolio {
    padding: 94px 0;
  }
  
  .portfolio-link {
    border-top: none;
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
  }
  
  .portfolio-list-item {
    flex-basis: calc((100% - 60px) / 3);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
  }
  
  .portfolio-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
  }
  
  .portfolio-list-description {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-color-secondary);
  }
  
  .portfolio-wrap {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
  
  .img-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .img-top-text {
  position: absolute;
  bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-color-primary);
  background-color:  rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 300ms linear;
  .portfolio-link:hover & {
    transform: translateY(0);
  }
  }
