.we-work {
    padding-bottom: 94px;
  }
  
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .section-title-list {
    display: flex;
    gap: 30px;
    min-width: 370px;
    flex-basis: calc(100% / 3 - 30px);
  }
  
  .img-one-wrap {
    position: relative;
  }
  
  .img-one-name-wrap {
    position: absolute;
    text-align: center;
    padding-top: 27px;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
  }
  
  .img-two-wrap {
    position: relative;
  }
  
  .img-two-name-wrap {
    position: absolute;
    text-align: center;
    padding-top: 27px;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
  }
  
  .img-three-wrap {
    position: relative;
  }
  
  .img-three-name-wrap {
    position: absolute;
    text-align: center;
    padding-top: 27px;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;  
  }
  
  .img-name {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color-primary);
  }
  